

.additional {

  .additional-products__title {
      color: #111111;
      font-family:  @fontOswald;
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;

      border-top: 1px solid #ededed;
      padding-left: 20px;
      padding-top: 30px;
      margin-bottom: 30px;
    }

    .products-info {
      width: 100%;
      padding: 20px;

      border-top: 1px solid #ededed;

        .products-info__name {
          color: #222222;
          font-family: @fontOswald;
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;

          margin-bottom: 15px;
        }

        .products-info__list {
          display: flex;
          width: 280px;

            .products-info__item {
              width: 50%;
              color: #444444;
              font-family: @fontArial;
              font-size: 14px;
              font-weight: 400;
              line-height: 14px;

              margin-bottom: 30px;
          }

            .products-info__item:nth-child(2) {
              text-align: end;

          }
        }
    }
}

.marketing-action{

  .action-info {
    width:280px;
    height: 289px;
    margin: 0 auto;
    background-image: url(../img/gift-photo-mobile.jpg);

    display: flex;
    flex-direction: column;
    text-align: center;

      .action-info__title,
      .action-info-image {
        display: block;
      }

      .action-info-image {
        padding-top: 60px;
        margin-bottom: 65px;
      }

      .action-info__title {
        color: #ffffff;
        font-family: @fontArial;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }
  }
}
