.example {
  border: @border-time;

  box-sizing: border-box;
  background: #f2f2f2;
  width: 320px;
  padding: 20px;
}

.example__title {
  font-family: @fontOswald;
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.example__description {
  font-family: @fontArial;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 25px;
}

.example__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}


.example__item {
  position: relative;
  width: 124px;
  height: 56px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  margin-right: 20px;
  text-align: center;
}

.example__value {
  display: block;
  color: #111111;
  font-family: @fontOswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 15px;
}

.example__itemdefinition {
  display: block;
  width: 54px;
  color: #444444;
  font-family: @fontArial;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  background-color: #f2f2f2;

  position: absolute;
  left: 30px;
  bottom: -15px;
}

.example__costs {
  color: #111111;
  font-family: @fontOswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  display: block;
  margin: 0;
  width: 270px;
  padding-left: 45px;
  margin-bottom: 35px;
}

////////////////////////////

.example__background {
  display: none;
  width: 0;
  margin: 0;
  padding: 0;
}

.example__slider {
  width: 320px;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}

.example__slider-img {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 100%;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.example__slider--checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

  +label+.example__slider-img {

    .thin-cat,
    .fat-cat {
      transition: opacity .3s;
    }

    .thin-cat {
      opacity: 0;
    }

    .fat-cat {
      opacity: 1;
    }
  }

  &:checked {
    +label {
      +.example__slider-img {
        .fat-cat {
          opacity: 0;
        }

        .thin-cat {
          opacity: 1;
        }
      }

      .example__slider-button {
        .example__scale {
          .example__scale-green {
            left: 37px;
          }
        }
      }
    }
  }
}


.example__slider-fat {
  margin-bottom: 20px;
}

.example__slider-button {
  width: 220px;
  height: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.example__toggle {
  width: 36px;
  height: 15px;
  color: #111111;
  font-family: @fontOswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  background-color: #f2f2f2;
}


.example__scale {
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  position: relative;
}

.example__scale-green {
  box-sizing: border-box;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  margin: 0 5px;
  position: absolute;
  left: 0;
  top: calc(50% - 3px);
  bottom: 0;
  transition: left .3s;
}



@media (min-width: 768px) {

  .example {
    box-sizing: border-box;
    width: 708px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  .example__heading {
    background-color: #ffffff;
    height: 625px;
    padding: 30px;
  }

  .example__title {
    margin: 0;
    padding-top: 50px;
    height: 173px;
    background-color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }

  .example__description {
    background-color: #ffffff;
    margin: 0;
    width: 610px;
    height: 90px;
  }

  .example__item {
    width: 160px;
    height: 72px;
    margin-right: 40px;
    box-sizing: border-box;

    .example__value,
    .example__itemdefinition {
      width: 115px;
      height: 15px;
      text-align: center;
      background-color: #ffffff;
      bottom: -8px;
      left: 18px;
    }
  }

  .example__value {
    font-size: 30px;
    font-weight: 400;
    line-height: 37.02px;
    text-transform: uppercase;
    white-space: nowrap;
    padding-left: 30px;

    display: flex;
    justify-content: center;
    text-align: center;
  }

  .example__benefit {
    display: flex;
    justify-content: space-between;
  }

  .example__costs {
    width: 180px;
    padding: 0;
    padding-top: 10px;
    color: #111111;
    font-family: @fontOswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  ///// фон под слайдером до footer ////
  .example__background {
    display: block;
    width: 680px;
    margin: 0 auto;
    height: 462px;
    background-color: #f2f2f2;
    position: relative;
  }

  /////////////////////////////////////////
  .example__slider {
    width: 708px;
    height: 570px;
    position: absolute;
    bottom: 100px;
    z-index: 130;
  }

  .example__slider-img {
    width: 630px;
    height: 680px;
    position: absolute;
    left: 80px;
    z-index: 130;
  }
}


@media (min-width: 1300px) {

  .example {
    width: 100%;
    height: 620px;
    margin: 0 auto;
  }

  .example__title {
    padding-left: 114px;
  }

  .example__heading {
    width: 1300px;
    background-color: #f2f2f2;
  }

  .example__description {
    box-sizing: border-box;
    margin: 0;
    background-color: #f2f2f2;
    padding-top: 75px;
    padding-left: 100px;
    width: 430px;
    position: relative;
  }

  .example__benefit {
    position: absolute;
    top: 450px;
    left: 120px;
    flex-direction: column;
  }

  .example__value,
  .example__itemdefinition {
    background-color: #f2f2f2;  /////// не применился цвет //////////
  }

  .example__costs {
    width: 330px;
    white-space: pre;
  }

  .example__background {
    display: none;
  }

  .example__slider {
    right: 114px;
    top: 50px;
  }
}
