
.example {
  border: @border-time;

  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 20px;


  .example__title {
    font-family: @fontOswald;
    color: #111111;
    font-size: 36px;
    font-weight: 400;
    line-height: 60px;
    }

  .example__description {
    font-family: @fontArial;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 25px;
    }

  }


.example__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}


.example__item {
  position: relative;
  width: 124px;
  height: 56px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  margin-right: 20px;
  text-align: center;

    .example__value {
      display: block;
      color: #111111;
      font-family: @fontOswald;
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      padding-top: 15px;
    }

    .example__itemdefinition {
      display: block;
      width: 54px;
      color: #444444;
      font-family: @fontArial;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      background-color: #f2f2f2;

      position: absolute;
      left: 30px;
      bottom: -15px;
    }
}


.example__costs {
  color: #111111;
  font-family: @fontOswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  display: block;
  margin: 0;
  width: 270px;
  padding-left: 45px;
  margin-bottom: 35px;
}
