

.form-main {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
}

.programe-choise-form__title {
  color: #111111;
  font-family: "Oswald";
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  margin: 0;
  margin-bottom: 25px;
  /*padding: 20px;*/
}

.programe-choise-form__fieldset {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  /*padding: 20px;*/
  /*width: 317px;*/

    .programe-choise-form__description {
      margin: 0;
      margin-bottom: 20px;

      color: #111111;
      font-family: @fontOswald;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
    }

    .programe-choise-form__label {
      text-transform: uppercase;
      font-family: @fontOswald;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 10px;
    }

    .programe-choise-form__input {
      /*width: 317px;*/
      margin: 0;

      display: flex;
      flex-direction: column;

        .programe-choise-form__title {
          margin-bottom: 15px;
          font-family: @fontOswald;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
        }
    }

    .programe-choise-form__title-second {
      color: #111111;
      font-family: @fontOswald;
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
    }
}

.programe-choise-form__botton {
  display: flex;
  flex-direction: column;

    .programe-choise-form__botton-botton {
      border: none;
      padding-top: 10px;
    }

    .programe-choise-form__commite {
      display: block;
      color: #444444;
      font-family: @fontArial;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;

      margin: 0 auto;
    }
}

///////////////////////////////////////

// input radio //

.programe-choise-form__input-border {
  box-sizing: border-box;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding-top: 20px;
}

// placoholder + texarea  + input//

.programe-choise-form__label::placeholder,
.programe-choise-form__input-input::placeholder {
  color: #444444;
  font-family: @fontOswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}


