.how-to-use {
  border: @border-time;

  box-sizing: border-box;
  font-family: @fontOswald;

  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 25px;
}

.how-to-use__title {
  color: #111111;
  font-family: @fontOswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.how-to-use__list {
  list-style: none;
  font-family: @fontArial;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
}


.how-to-use__item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.how-to-use__item-image {
  display: block;
  width: 160px;
  height: 60px;
  background-color: #68b738;
  text-align: center;
  margin-right: 20px;
}

.how-to-use__item-description {
  margin: 0;
  width: 200px;
}

.how-to-use__item-number {
  display: none;
}


.how-to-use__item-image {
  img {
    padding-top: 13px;
    width: 55px;
    height: 60px;
  }
}


@media (min-width: 768px) {

  .how-to-use {
    width: 708px;
    margin: 0 auto;
  }

  .how-to-use__title {
    color: #111111;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }

  .how-to-use__list {
    display: flex;
    flex-wrap: wrap;
  }

  .how-to-use__item {
    display: block;
    width: 290px;
    height: 290px;
    position: relative;
  }

  .how-to-use__item-description {
    width: 230px;
    color: #444444;
    font-family: @fontArial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .how-to-use__item-description:last-child {
    width: 250px;
  }

  .how-to-use__item-image {
    width: 80px;
    height: 80px;
    margin-bottom: 37px;
  }


  .how-to-use__item:nth-child(1),
  .how-to-use__item:nth-child(3) {
    margin-right: 70px;
  }


  .how-to-use__item-number {
    display: block;
    color: #f2f2f2;
    font-family: @fontOswald;
    font-size: 281px;
    font-weight: 400;
    line-height: 281.07px;

    position: absolute;
    top: -40px;
    right: 60px;
    z-index: -30;
  }
}


@media (min-width: 1300px) {

  .how-to-use{
    width: 1220px;
    margin: 0 auto;
  }

  .how-to-use__list {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .how-to-use__item {
    width: 246px;
  }
}
