.main-header {
  border: @border-time;
  width: 320px;
  box-sizing: border-box;
  position: relative;
  min-width: 320px;
  background: #ffffff;
}

.main-header__logo {
  display: block;
  width: 200px;
  background-image: rgb(138, 133, 133);
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 16px;
}


@media (min-width: 768px) {
  .main-header {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
  }

  .main-header__logo {
    padding-left: 0;
    padding-top: 15px;
    width: 173px;
    height: 58px;
    margin-right: 10px;
  }
}

@media (min-width: 1440px) {

  .main-header {
    width: 1440px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    position: relative;
    margin-bottom: 80px;
  }

  .main-header__logo {
    width: 722px;
    height: 696px;
    padding-left: 114px;
    padding-top: 75px;
  }
    svg {
      width: 202px;
    }
}
