
.main-footer{
  border: @border-time;
    .main-footer__list {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .main-footer__title,
    .main-footer__social,
    .main-footer__developed {
      background-color: #f2f2f2;
    }
    .main-footer__social {
      margin: 0;
    }
}
