.main-header {
  border: @border-time;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  min-width: 320px;
  background: #ffffff;
}

.main-header__logo {
  display: block;
  width: 205px;
  background-image: rgb(138, 133, 133);
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 10px;

    &:hover,
    &:active {
      opacity: 0,3;
    }
}


@media (min-width: 768px) {
  .main-header {
    width: 93%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
  }

  .header-content {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

  }

  .main-header__logo {
    padding-left: 0;
    padding-top: 15px;
    width: 173px;
    height: 58px;
    margin-right: 10px;
  }
}

@media (min-width: 1220px) {

  //////////////////////////

  .header-content {
    position: relative;
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: @border-time;
  }
  .main-header__logo {
    border: @border-time;

      img {
        width: 202px;
      }
  }


  //////////////// index //////////////////

  .main-header__index {
    width: auto;
    margin: 0 auto;
    background-image: url(../img/index-background-desktop.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right top;
    min-height: 696px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 80px;
  }

  .main-header__logo--index {
    padding-left: 0px;
    padding-top: 50px;


    svg {
      width: 202px;

    }
  }
}
