
.main-footer{
  border: @border-time;
    .main-footer__list {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .main-footer__title,
    .main-footer__social,
    .main-footer__developed {
      background-color: #f2f2f2;
    }
    .main-footer__social {
      margin: 0;
    }
}

.main-footer {
  font-family: Oswald;
  .main-footer__list {
    .cooperation {
      color: #111111;
font-family: Oswald;
font-size: 16px;
font-weight: 400;
line-height: 20px;
    }
  }
}
